<h1>Level 3</h1>

<table class="connect-four-board">
  <tbody>
    <tr>
      <td class="indicator" *ngFor="let styles of getStyles()[0]; let colIx = index">
        <app-column-indicator [columnIndex]="colIx" (drop)="drop($event)" [playerIndex]="currentPlayerIndex"></app-column-indicator>
      </td>
    </tr>
    <tr *ngFor="let styles of getStyles()">
      <td *ngFor="let style of styles">
        <div class="coin" [class]="style"></div>
      </td>
    </tr>
  </tbody>
</table>

<h2 [hidden]="currentWinnerIndex === 0">The winner is {{getWinnerName()}}</h2>

<button (click)="restart()">Restart</button>
